name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
         
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    -
      name: Login to GCR
      uses: docker/login-action@v3
      with:
        registry: gcr.io
        username: _json_key
        password: ${{ secrets.GCR_SERVICE_ACCOUNT_KEY }}
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        version: '>= 363.0.0'
        service_account_key: ${{ secrets.GCR_SERVICE_ACCOUNT_KEY }}
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        export_default_credentials: true
        
    - name: Auth With GCP
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCR_SERVICE_ACCOUNT_KEY }}'

    - name: Build and push Docker image to Artifact Registry
      env:
        PORT: "8080"
        DB_HOST: "34.71.134.63"
        DB_NAME: "new_connectmate_db"
        DB_USER: "root"
        AWS_REGION: "us-east-1"
        GCP_REGION: "us-central1"
        GCP_AR_LOCATION: "us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/springboot-backend/connectmate"
      run: |
        gcloud auth configure-docker ${{ env.GCP_REGION }}-docker.pkg.dev --quiet
        echo "docker build \
        -t ${{ env.GCP_AR_LOCATION }} \
        --build-arg DB_PORT=${{ env.DB_PORT }} \
        --build-arg DB_HOST=${{ env.DB_HOST }} \
        --build-arg DB_NAME=${{ env.DB_NAME }} \
        --build-arg DB_USER=${{ env.DB_USER }} \
        --build-arg DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
        --build-arg AWS_ACCESS_KEY=${{ secrets.AWS_ACCESS_KEY }} \
        --build-arg AWS_SECRET_KEY=${{ secrets.AWS_SECRET_KEY }} \
        --build-arg AWS_REGION=${{ env.AWS_REGION }} \
        --no-cache ."
        
        docker build \
        -t ${{ env.GCP_AR_LOCATION }} \
        --build-arg DB_PORT=${{ env.DB_PORT }} \
        --build-arg DB_HOST=${{ env.DB_HOST }} \
        --build-arg DB_NAME=${{ env.DB_NAME }} \
        --build-arg DB_USER=${{ env.DB_USER }} \
        --build-arg DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
        --build-arg AWS_ACCESS_KEY=${{ secrets.AWS_ACCESS_KEY }} \
        --build-arg AWS_SECRET_KEY=${{ secrets.AWS_SECRET_KEY }} \
        --build-arg AWS_REGION=${{ env.AWS_REGION }} \
        --no-cache .
        

        docker tag ${{ env.GCP_AR_LOCATION }} ${{ env.GCP_AR_LOCATION }}:$GITHUB_SHA
        docker push ${{ env.GCP_AR_LOCATION }}:$GITHUB_SHA
        docker push ${{ env.GCP_AR_LOCATION }}:latest



    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy connectmate \
          --image=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/springboot-backend/connectmate \
          --platform=managed \
          --port=3000 \
          --region=us-central1 \
          --allow-unauthenticated 
